* {
    margin: 0;
    padding: 0;
    
}

.container-main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.header {
    background-color: bisque;
    grid-column: 2/-1;
    grid-row: 1/2;
}

.content {
    background-color: slategray;
    grid-row: 2/-1;
    grid-column: 2/-1;
}

.sidebar-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    justify-items: start;
    align-items: start;
    gap: 12px;
}